In Python (and in R too), in this context operating with data like that, the main object/concept is the DataFrame.
DataFrame is essentially the same as table in SQL database: a 2D table with Rows (corresponding to records) and
columns (also known as fields or variables) that can be of any type (text, number, boolean etc.).
In Python, the most popular and the most supported package for operating the DataFrames is calles `Pandas`.
So the first thing we do is import it

In [1]:
import pandas as pd

The `as pd` allows to use `pd` as shortcut further on, and in the case of `Pandas` it's conventional. I have
my data saved on the local disk as `zillowcomps.csv`

In [4]:
zillow = pd.read_csv('zillowcomps.csv')
redfin = pd.read_csv('redfincomps.csv')

Let's look at first 5 rows:

In [5]:
print(zillow[:5])

   Unnamed: 0                 Address      Sold  BR   BA    Lot  YearBuilt  \
0           0   9306 RHODE ISLAND Ave  $279,945   4  2.0  7,248       1986
1           1            9727 51st Pl  $334,000   4  2.0  5,501       1950
2           2            9010 50th Pl  $303,000   4  1.5  5,597       1973
3           3  9702 Narragansett Pkwy  $325,000   4  2.5  5,928       1964
4           4        5007 Iroquois St  $285,000   3  2.0  5,000       1961

   Estimate                                               Link
0       NaN  https://www.zillow.com/homes/9306-rhode-island...
1  $335,092        https://www.zillow.com/homes/9727-51-pl_rb/
2  $301,068      https://www.zillow.com/homes/9010-50th-Pl_rb/
3  $330,824  https://www.zillow.com/homes/9702-Narragansett...
4  $293,851  https://www.zillow.com/homedetails/5007-Iroquo...

In [6]:
print(zillow.columns)
print(redfin.columns)

Index(['Unnamed: 0', 'Address', 'Sold', 'BR', 'BA', 'Lot', 'YearBuilt',
       'Estimate', 'Link'],
      dtype='object')
Index(['Unnamed: 0', 'Address', 'Sold', 'SQFT', 'DateSold', 'Estimate', 'Link',
       'InWorksheet'],
      dtype='object')

So, to join, we do (and, of course, I did not remember it, and read it in Pandas manual on the 
page https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html where I got 
by Googling "pandas join")

In [7]:
comps = zillow.join(redfin.set_index("Address"), on="Address", rsuffix="_r")
print(comps[:5])

   Unnamed: 0                 Address      Sold  BR   BA    Lot  YearBuilt  \
0           0   9306 RHODE ISLAND Ave  $279,945   4  2.0  7,248       1986
1           1            9727 51st Pl  $334,000   4  2.0  5,501       1950
2           2            9010 50th Pl  $303,000   4  1.5  5,597       1973
3           3  9702 Narragansett Pkwy  $325,000   4  2.5  5,928       1964
4           4        5007 Iroquois St  $285,000   3  2.0  5,000       1961

   Estimate                                               Link  Unnamed: 0_r  \
0       NaN  https://www.zillow.com/homes/9306-rhode-island...             0
1  $335,092        https://www.zillow.com/homes/9727-51-pl_rb/             1
2  $301,068      https://www.zillow.com/homes/9010-50th-Pl_rb/             2
3  $330,824  https://www.zillow.com/homes/9702-Narragansett...             3
4  $293,851  https://www.zillow.com/homedetails/5007-Iroquo...             4

     Sold_r   SQFT  DateSold Estimate_r  \
0  $279,945  1,232  10/26/18   $374,424
1  $334,000  1,176   1/28/19   $347,308
2  $303,000  1,180  11/23/18   $328,600
3  $325,000  1,078    6/8/18   $362,718
4  $285,000  1,760  10/29/18   $368,991

                                              Link_r InWorksheet
0  https://www.redfin.com/MD/College-Park/9306-Rh...           N
1  https://www.redfin.com/MD/College-Park/9727-51...           N
2  https://www.redfin.com/MD/College-Park/9010-50...           N
3  https://www.redfin.com/MD/College-Park/9702-Na...           N
4  https://www.redfin.com/MD/College-Park/5007-Ir...           N

Selecting only columns that we need, and rename some (I looked up the renaming since I don't remember):

In [9]:
comps = comps[['Address','Sold','BR','BA','Lot','YearBuilt','Estimate','Sold_r','SQFT','DateSold','Estimate_r','InWorksheet']]
comps = comps.rename(index=str, columns = {"Estimate":"Zestimate", "Estimate_r":"RedFinEstimate"})
print(comps[:5])

                  Address      Sold  BR   BA    Lot  YearBuilt Zestimate  \
0   9306 RHODE ISLAND Ave  $279,945   4  2.0  7,248       1986       NaN
1            9727 51st Pl  $334,000   4  2.0  5,501       1950  $335,092
2            9010 50th Pl  $303,000   4  1.5  5,597       1973  $301,068
3  9702 Narragansett Pkwy  $325,000   4  2.5  5,928       1964  $330,824
4        5007 Iroquois St  $285,000   3  2.0  5,000       1961  $293,851

     Sold_r   SQFT  DateSold RedFinEstimate InWorksheet
0  $279,945  1,232  10/26/18       $374,424           N
1  $334,000  1,176   1/28/19       $347,308           N
2  $303,000  1,180  11/23/18       $328,600           N
3  $325,000  1,078    6/8/18       $362,718           N
4  $285,000  1,760  10/29/18       $368,991           N

# _TO BE CONTINUED!!!_